.tcontainer{
    height: 280px;
    width: 100%;
    background: pink;
}
.con{
    display: flex;
    justify-content: space-between;
    
}
.para{
    color: #FFFFFF;
    
    font-size: 20px;
    font-weight: 600;
}
.show{
   
    font-size: 20px;
    font-weight: 600;
    color: var(--color-primary);
    border: none;
    background-color: inherit;
    cursor: pointer;
}
.topcon{
    height: 232px;
    background: antiquewhite;
    margin-top: 20px;
    margin-left: 16px;
    margin-right: 16px;
}


